.containerDetalle{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

div div.contDesc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;

    width: 50%;
}

.contDesc h1{
    margin-bottom: 10%;
}

.contImg{
    margin: 0px 5% 0px 0px;
}

.contImg img{
    width: 100%;
    margin: 0px;
    padding: 0px;
}



@media (min-width:400px) {
    .contImg img{
        max-height: 400px;
        width: auto;
    }
}

@media (min-width:750px) {
    .contImg img{
        max-height: 700px;
        width: auto;
    }
}



