.colItem{
    padding: 1%;
}
.container-item{
    border: 2px solid rgb(79, 79, 79);
    width: 100%;
    height: 100%;
    border-radius: 5%;
    padding:2%;
    box-shadow:0px 0px 8px 1px rgba(0, 0, 0, 0.4);
    transition: all 0.3s;
}

.container-img{
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: contain;
}

.container-img img {
    width:50%;
    max-height: 300px;
}

.container-desc{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    object-fit:contain;
}

.container-desc h5,h6,p{
    font-family: 'Mochiy Pop One', sans-serif;
    overflow-wrap: break-word;
    text-align: left;
    
}
p{
    font-weight: 100;
    color:dimgrey;
    
}

.container-item:hover{
    transform: scale(1.002);
    box-shadow:0px 0px 12px 1px rgba(0, 0, 0, 0.4);
}

.link{
    text-decoration: none;
}